[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
black = "*"
pylint = "*"

[packages]
ariadne = "*"
flask = "*"
flask_cors = "*"
Faker = "*"

[pipenv]
allow_prereleases = true
